[submodule "sns"]
	path = sns
	url = https://github.com/igordot/sns
[submodule "IGV-snapshot-automator"]
	path = IGV-snapshot-automator
	url = https://github.com/stevekm/IGV-snapshot-automator.git
[submodule "sns-wes-coverage-analysis"]
	path = sns-wes-coverage-analysis
	url = https://github.com/NYU-Molecular-Pathology/sns-wes-coverage-analysis
[submodule "sns-wes-downstream-analysis"]
	path = sns-wes-downstream-analysis
	url = https://github.com/NYU-Molecular-Pathology/sns-wes-downstream-analysis
[submodule "toolbox"]
	path = toolbox
	url = https://github.com/stevekm/toolbox.git
[submodule "sh"]
	path = sh
	url = https://github.com/amoffat/sh.git
[submodule "run-monitor"]
	path = run-monitor
	url = https://github.com/NYU-Molecular-Pathology/run-monitor.git
[submodule "demultiplexing-stats"]
	path = demultiplexing-stats
	url = https://github.com/NYU-Molecular-Pathology/demultiplexing-stats.git
