log/*
email_recipients.txt
cron.log
email_recipients_old.txt
*.pyc
old/*
test-scripts
generate-demultiplexing-reports/reports/*
demo/output/*
demo/python.o*
demultiplexing/debug.log
demultiplexing/info.log
demultiplexing/testlog.py
snsxt-docs
writeup
nextseq.sqlite
*.pyc
samples_database/settings.csv
samples_database/samples.csv
samples_database/nextseq.sqlite.dump.txt
